## .NET build artifacts
bin/
obj/

## Visual Studio
.vs/
*.user
*.suo
*.rsuser
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
*.snupkg
[Pp]ackages/
NuGet.Config
project.lock.json
project.fragment.lock.json
artifacts/
